<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AwesomeProject</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AL_LePORSCHE_PersonalUseOnly.otf</string>
		<string>Artifact.otf</string>
		<string>Bagrile.otf</string>
		<string>Buljirya.otf</string>
		<string>euphorigenic.otf</string>
		<string>GRAVHEZ.otf</string>
		<string>StretchPro.otf</string>
		<string>TNanti-Demo.otf</string>
		<string>typeecon.otf</string>
		<string>AL_LePORSCHE_PersonalUseOnly.ttf</string>
		<string>Androgy Demo.ttf</string>
		<string>AstroDotBasic.ttf</string>
		<string>Auto_Motive.ttf</string>
		<string>BeigeWaveDemoRegular.ttf</string>
		<string>Culinary Art.ttf</string>
		<string>Dreambats_PersonalUseOnly.ttf</string>
		<string>famlogs_.ttf</string>
		<string>Hai Angellica Font.ttf</string>
		<string>Hey Tiny Bold DEMO.ttf</string>
		<string>Hey Tiny DEMO.ttf</string>
		<string>Hey Tiny Thin DEMO.ttf</string>
		<string>Jesus Christ.ttf</string>
		<string>kameradings.ttf</string>
		<string>moon_phases.ttf</string>
		<string>Mountain.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>RUSAK.ttf</string>
		<string>Social Logos.ttf</string>
		<string>Social Media Circled.ttf</string>
		<string>Social_Shapes.ttf</string>
		<string>Starlight Personal.ttf</string>
		<string>TOSTADA Italic.ttf</string>
		<string>TOSTADA.ttf</string>
	</array>
</dict>
</plist>
